* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px ;
    background-color: #f2f3f5;
}

a {
    transition: 0s;
}

.user_pd {
    background-color: #fff;
}

.user_pd .user_pd_head {
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #f2f3f5;
    margin-bottom: 30px;

}

.user_pd_form {
    padding-bottom: 50px;

}


.layui-input {
    width: 360px;
}

.layui-form-label {
    width: 100px;
}